body {
    background-color: rgb(40 40 40);
    color: ghostwhite;
}
td {
    padding: 0;
}
img {
    width: 32px;
    -webkit-user-drag: none;
}


.chessPanel {
    position: relative;
    left: calc(50% - 240px);
    width: 480px;
    height: 480px;
}
.chessTable {
    border-collapse: collapse !important;
    position: absolute;
    border-style: hidden !important;
    border-width: 0px !important;
    border-color: transparent;
}
.chess {
    z-index: 1
}

.infoBar {
    position: relative;
    text-align: center;
    top:8px;
}

.oneLineBox {
    display: flex;
    align-items: center;
    justify-content: center;
}
#localTeam_icon{
    width: 24px;
}


#restartButton {
    position: fixed;
    bottom: 0;
}
.disButton {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}